{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static  'css/home.css' %}">
</head>
<body>
    <main>
        <div class="banner">
            <!-- <img src="{% static 'img/home-bg.png' %}"> -->
            <div class="home-main-content">
                <h2>Welcome to <span>PERSONAL</span>BLOG HOME</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, veniam reiciendis quidem tenetur <br> laudantium reprehenderit cupiditate consequatur rerum a nemo at, error est!</p>
                <div class="home-button">
                    <button type="button"><span></span> Read More</button>
                    <button type="button"> <span></span> Go Blog</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

{% endblock body %}